[submodule "libraries/libn3ds"]
	path = libraries/libn3ds
	url = https://github.com/profi200/libn3ds.git
[submodule "tools/lgyFbScaler/lodepng"]
	path = tools/lgyFbScaler/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "libraries/inih"]
	path = libraries/inih
	url = https://github.com/benhoyt/inih.git
